.photo-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 16px auto 16px auto;
  grid-template-rows: repeat(3, auto);
  -ms-grid-columns: auto 16px auto 16px auto 16px auto;
  grid-template-columns: repeat(4, auto);
  grid-auto-rows: 1fr;
  gap: 16px;
}

.photo-grid > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.photo-grid > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.photo-grid > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.photo-grid > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
}

.photo-grid > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.photo-grid > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.photo-grid > *:nth-child(7) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}

.photo-grid > *:nth-child(8) {
  -ms-grid-row: 3;
  -ms-grid-column: 7;
}

.photo-grid > *:nth-child(9) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}

.photo-grid > *:nth-child(10) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}

.photo-grid > *:nth-child(11) {
  -ms-grid-row: 5;
  -ms-grid-column: 5;
}

.photo-grid > *:nth-child(12) {
  -ms-grid-row: 5;
  -ms-grid-column: 7;
}

@media screen and (max-width: 1023px) {
  .photo-grid {
    -ms-grid-rows: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    padding-left: 24px;
    padding-right: 24px;
  }
  .photo-grid > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .photo-grid > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
  .photo-grid > *:nth-child(3) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .photo-grid > *:nth-child(4) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }
}

@media screen and (max-width: 1279px) {
  .photo-grid {
    -ms-grid-rows: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 48px;
    padding-right: 48px;
  }
  .photo-grid > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .photo-grid > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
  .photo-grid > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .photo-grid > *:nth-child(4) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .photo-grid > *:nth-child(5) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }
  .photo-grid > *:nth-child(6) {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
  }
  .photo-grid > *:nth-child(7) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .photo-grid > *:nth-child(8) {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
  }
  .photo-grid > *:nth-child(9) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
}

@media screen and (max-width: 767px) {
  .photo-grid {
    -ms-grid-rows: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    padding-left: 16px;
    padding-right: 16px;
  }
  .photo-grid > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .photo-grid > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
  .photo-grid > *:nth-child(3) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .photo-grid > *:nth-child(4) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }
}

@media screen and (max-width: 576px) {
  .photo-grid {
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    padding-left: 16px;
    padding-right: 16px;
  }
  .photo-grid > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
}
