.photo-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 16px auto 16px auto;
  grid-template-rows: repeat(3, auto);
  -ms-grid-columns: auto 16px auto 16px auto 16px auto;
  grid-template-columns: repeat(4, auto);
  grid-auto-rows: 1fr;
  gap: 16px;
}

@media screen and (max-width: 1279px) {
  .photo-grid {
    -ms-grid-rows: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 48px;
    padding-right: 48px;
  }
}

@media screen and (max-width: 1023px) {
  .photo-grid {
    -ms-grid-rows: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and (max-width: 576px) {
  .photo-grid {
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    padding-left: 16px;
    padding-right: 16px;
  }
}
