.header__nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  -ms-grid-columns: 1fr 18px 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 18px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

