.place__link {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.85;
  color: #fff;
  text-decoration: underline;
  margin-top: 5px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative;
}

.place__link:hover {
  opacity: 0.8;
}
