.footer__nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: -webkit-max-content 18px -webkit-max-content 18px -webkit-max-content 18px -webkit-max-content 18px -webkit-max-content;
  -ms-grid-columns: max-content 18px max-content 18px max-content 18px max-content 18px max-content;
  grid-template-columns: repeat(5, -webkit-max-content);
  grid-template-columns: repeat(5, max-content);
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  gap: 18px;
}

.footer__nav > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.footer__nav > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.footer__nav > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.footer__nav > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
}

.footer__nav > *:nth-child(5) {
  -ms-grid-row: 1;
  -ms-grid-column: 9;
}

@media screen and (max-width: 767px) {
  .footer__nav {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    gap: 32px;
    margin-bottom: 48px;
  }
  .footer__nav > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
}
